section{
  position:relative;
  height:100%;
  z-index:1;
  overflow:hidden
}
.bg-outer{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  clip:rect(auto,auto,auto,auto);
  z-index:1
}
.bg-inner{
  position:absolute;
  position:fixed;
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:2;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  will-change:transform;
}
h1{
  display:none;
  position:fixed;
  z-index:99;
  top:20px;
  left:16px;
  color:#07071c;
  text-transform:uppercase;
  letter-spacing:4px;
  font-weight:700;
}
section h2{
  -webkit-font-smoothing:antialiased;
  -webkit-font-smoothing:subpixel-antialiased;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  position:fixed;
  left:16px;
  line-height:1;
  top:18px;
  text-align:center;
  font-size:24px;
  cursor:default;
  -webkit-pointer-events:none;
  pointer-events:none;
  text-transform:uppercase;
  color:#07071c;
  font-weight:700;
  letter-spacing:8px;
}
nav{
  position:fixed;
  z-index:99;
  top:20px;
  right:16px;
}
nav>a{
  display:inline-block;
  position:relative;
  line-height:12px;
  width:12px;
  height:12px;
  border-radius:50%;
  border:2px solid #07071c;
  transition:.2s cubic-bezier(.4,0,.2,1) background-color;
}
nav>a:before{
  content:attr(title);
  text-transform:uppercase;
  position:absolute;
  bottom:-16px;
  right:-8px;
  font-size:10px;
  line-height:1;
  color:#07071c;
  opacity:0;
  visibility:hidden;
  -webkit-transform:translateX(102%);
  transform:translateX(102%);
}
nav>a:hover,
nav>a.active{
  background-color:#07071c;
}
nav>a.active:before{
  visibility:visible;
  opacity:1;
  -webkit-transform:translateX(0);
  transform:translateX(0);
}
nav>a:before{
  transition-property:transform,opacity,visibility;
  transition-timing-function:cubic-bezier(.4,0,.2,1);
  transition-duration:.2s;
}
.search{
  position: fixed;
  z-index: 99;
  top: 12px;
  left: 33%;
  right:33%;
  background: rgba(0,0,0,.5);
  padding:8px;
  -webkit-border-radius:6px;
  border-radius:6px;
  -webkit-backdrop-filter:blur(20px);
  backdrop-filter:blur(20px);
}
.search input{
  padding-left:24px;
}
.search form{
  position:relative;

}
.search form:before{
  content:'';
  position:absolute;
  top:2px;
  left:2px;
  line-height:1;
  width:16px;
  height:16px;
  background:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%3E%3Cpath%20fill%3D%22#fff%22%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E);
}
section h2>a{display:none}
section:nth-of-type(2) .bg-inner{background:#f44336;}
section:nth-of-type(4) .bg-inner{background:#ffc107;}
section:nth-of-type(2n) .bg-inner article>a{background:#fff;color:#07071c;}
article>a{
  position:absolute;
  top:8px;
  left:16px;
  right:16px;
  bottom:8px;
  padding:16px;
  -webkit-border-radius:4px;
  border-radius:4px;
  background:#07071c;
  color:#fff;
}
.container{
  position:absolute;
  top:56px;
  bottom:32px;
  left:0;
  right:0;
}
.c{position:absolute}
.c5,.c6,.c7,.c8,.c9{display:none}
.c1,.c2,.c3,.c4{display:block;left:0;right:0}
.c1{top:0;bottom:75%}
.c2{top:25%;bottom:50%}
.c3{top:50%;bottom:25%}
.c4{top:75%;bottom:0}
@media screen and (min-width:480px){
  article>a{
    left:8px;
    right:16px;
  }
  article:nth-child(odd)>a{
    left:16px;
    right:8px;
  }
  .c5,.c6,.c7,.c8{display:block}
  .c1,.c3,.c5,.c7{left:0;right:50%}
  .c2,.c4,.c6,.c8{left:50%;right:0}
  .c1,.c2{top:0;bottom:75%}
  .c3,.c4{top:25%;bottom:50%}
  .c5,.c6{top:50%;bottom:25%}
  .c7,.c8{top:75%;bottom:0}
}
@media screen and (min-width:768px){
  article>a{
    left:8px;
    right:8px;
  }
  article:nth-child(odd)>a{left:8px;right:8px}
  h1{display:block}
  .c9{display:block}
  .c1,.c2,.c3{top:0;bottom:66%}
  .c4,.c5,.c6{top:33%;bottom:33%}
  .c7,.c8,.c9{top:66%;bottom:0}
  .c1,.c4,.c7{left:0;right:66%}
  .c2,.c5,.c8{left:33%;right:33%}
  .c3,.c6,.c9{left:66%;right:0}
  .container{left:auto;width:50vw;width:calc(100vh - 88px);right:16px;}
  section:nth-of-type(2n) .container{left:16px;right:auto}
  section h2{
    position:absolute;
    background:#f44336;
    padding:32px;
    color:#fff;
    right:16px;
    top:56px;
    bottom:16px;
    -webkit-border-radius:8px;
    border-radius:8px;
    text-align:left;
    line-height:100vh;
    line-height:-webkit-calc(100vh - 104px);
    line-height:calc(100vh - 104px);
    font-size:-webkit-calc(4vw + 4vh + 2vmin);
    font-size:calc(4vw + 4vh + 2vmin);
    letter-spacing:16px;
  }
  section:nth-of-type(2n) h2{text-align:right;margin:0 0 0 auto;background-color:#07071c;}
  section:nth-of-type(1) h2{background-color:#2196f3;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2256%22%20height%3D%22100%22%3E%3Cpath%20d%3D%22M28%2066L0%2050L0%2016L28%200L56%2016L56%2050L28%2066L28%20100%22%20fill%3D%22none%22%20stroke-opacity%3D%220.4%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22/%3E%3Cpath%20d%3D%22M28%200L28%2034L0%2050L0%2084L28%20100L56%2084L56%2050L28%2034%22%20fill%3D%22none%22%20stroke-opacity%3D%220.2%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22/%3E%3C/svg%3E")}
  section:nth-of-type(2) h2{background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22100%22%20height%3D%2220%22%20viewBox%3D%220%200%20100%2020%22%3E%3Cpath%20d%3D%22M21.184%2020c.357-.13.72-.264%201.088-.402l1.768-.661C33.64%2015.347%2039.647%2014%2050%2014c10.271%200%2015.362%201.222%2024.629%204.928.955.383%201.869.74%202.75%201.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888%2013.278%2060.562%2012%2050%2012c-10.626%200-16.855%201.397-26.66%205.063l-1.767.662c-2.475.923-4.66%201.674-6.724%202.275h6.335zm0-20C13.258%202.892%208.077%204%200%204V2c5.744%200%209.951-.574%2014.85-2h6.334zM77.38%200C85.239%202.966%2090.502%204%20100%204V2c-6.842%200-11.386-.542-16.396-2h-6.225zM0%2014c8.44%200%2013.718-1.21%2022.272-4.402l1.768-.661C33.64%205.347%2039.647%204%2050%204c10.271%200%2015.362%201.222%2024.629%204.928C84.112%2012.722%2089.438%2014%20100%2014v-2c-10.271%200-15.362-1.222-24.629-4.928C65.888%203.278%2060.562%202%2050%202%2039.374%202%2033.145%203.397%2023.34%207.063l-1.767.662C13.223%2010.84%208.163%2012%200%2012v2z%22%20fill%3D%22%23ffffff%22%20fill-opacity%3D%220.4%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E")}
  section:nth-of-type(4) h2{background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cg%20fill%3D%22%239C92AC%22%20fill-opacity%3D%220.4%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22/%3E%3Ccircle%20cx%3D%2213%22%20cy%3D%2213%22%20r%3D%223%22/%3E%3C/g%3E%3C/svg%3E")}
  section:nth-of-type(3) h2{background-color:#9c27b0;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2244%22%20height%3D%2212%22%20viewBox%3D%220%200%2044%2012%22%3E%3Cpath%20d%3D%22M20%2012v-2L0%200v10l4%202h16zm18%200l4-2V0L22%2010v2h16zM20%200v8L4%200h16zm18%200L22%208V0h16z%22%20fill%3D%22%2307071c%22%20fill-opacity%3D%220.4%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E")}
  section:nth-of-type(5) h2{background-color:#4caf50;background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2256%22%20height%3D%2228%22%20viewBox%3D%220%200%2056%2028%22%3E%3Cpath%20d%3D%22M56%2026c-2.813%200-5.456.726-7.752%202H56v-2zm-26%202h4.087C38.707%2020.783%2046.795%2016%2056%2016v-2c-.672%200-1.339.024-1.999.07L54%2014a2%202%200%200%201%202-2v-2a4%204%200%200%200-3.98%203.602%2028.087%2028.087%200%200%200-2.793-3.862A7.994%207.994%200%200%201%2056%206V4a9.988%209.988%200%200%200-8.17%204.232%2028.156%2028.156%200%200%200-3.03-2.634A13.979%2013.979%200%200%201%2056%200h-7.752a16.078%2016.078%200%200%200-5.09%204.454%2027.941%2027.941%200%200%200-3.536-1.936c.63-.896%201.33-1.738%202.095-2.518H39.03c-.46.557-.893%201.137-1.297%201.737A27.787%2027.787%200%200%200%2033.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406%2028.406%200%200%200%2026%20.07L26%200h-4.087c.124.193.245.389.364.585a27.787%2027.787%200%200%200-4.009%201.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78%201.466%201.622%202.095%202.518-1.23.562-2.41%201.21-3.536%201.936A16.078%2016.078%200%200%200%207.752%200H0c4.58%200%208.645%202.199%2011.2%205.598a28.156%2028.156%200%200%200-3.03%202.634A9.988%209.988%200%200%200%200%204v2a7.994%207.994%200%200%201%206.773%203.74%2028.087%2028.087%200%200%200-2.793%203.862A4%204%200%200%200%200%2010v2a2%202%200%200%201%201.999%202.07C1.339%2014.024.672%2014%200%2014v2c9.205%200%2017.292%204.783%2021.913%2012H26a2%202%200%201%201%204%200zM7.752%2028C5.456%2026.726%202.812%2026%200%2026v2h7.752zM56%2020c-6.832%200-12.936%203.114-16.971%208h2.688A19.94%2019.94%200%200%201%2056%2022v-2zm-39.029%208C12.936%2023.114%206.831%2020%200%2020v2a19.94%2019.94%200%200%201%2014.283%206h2.688zm15.01-.398a28.087%2028.087%200%200%201%202.792-3.862A7.994%207.994%200%200%200%2028%2020a7.994%207.994%200%200%200-6.773%203.74%2028.087%2028.087%200%200%201%202.793%203.862%204%204%200%200%201%207.96%200zm14.287-11.865C42.318%209.864%2035.61%206%2028%206c-7.61%200-14.318%203.864-18.268%209.737a27.787%2027.787%200%200%200-4.009-1.152C10.275%207.043%2018.548%202%2028%202c9.452%200%2017.725%205.043%2022.277%2012.585a27.787%2027.787%200%200%200-4.009%201.152zm-5.426%202.717a27.941%2027.941%200%200%201%203.536-1.936C40.76%2011.367%2034.773%208%2028%208s-12.76%203.367-16.378%208.518c1.23.562%202.41%201.21%203.536%201.936C18.075%2014.537%2022.741%2012%2028%2012s9.925%202.537%2012.842%206.454zm-4.672%203.778a28.156%2028.156%200%200%201%203.03-2.634A13.979%2013.979%200%200%200%2028%2014c-4.58%200-8.645%202.199-11.2%205.598a28.156%2028.156%200%200%201%203.03%202.634A9.988%209.988%200%200%201%2028%2018a9.988%209.988%200%200%201%208.17%204.232z%22%20fill%3D%22%2307071c%22%20fill-opacity%3D%220.4%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E")}
}
@media screen and (min-width:768px) and (max-width:991px){
  section h2>span{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 75vh;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
  }
  section:nth-of-type(2n) h2>span{
    left:auto;
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}
@media only screen and (min-width:992px){
  .container{right:48px}
  section:nth-of-type(2n) .container{left:48px;right:auto;}
  .container,.c{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
  }
  .container{
    -webkit-transform:rotate(9deg);
    transform:rotate(9deg);
  }
  section:nth-of-type(2n) .container{-webkit-transform:rotate(-9deg);transform:rotate(-9deg)}
  .c{
    -webkit-transition:.3s cubic-bezier(.4,0,.2,1) transform;
    transition:.3s cubic-bezier(.4,0,.2,1) transform;
    -webkit-transform:translate3d(0,0,0) rotate(9deg);
    transform:translate3d(0,0,0) rotate(9deg);
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-font-smoothing:antialiased;
    -webkit-font-smoothing:subpixel-antialiased;
    text-rendering:geometricPrecision
  }
  section:nth-of-type(2n) .c{
    -webkit-transform:translate3d(0,0,0) rotate(-9deg);
    transform:translate3d(0,0,0) rotate(-9deg);
  }
  .c:hover{
    -webkit-transform:translate3d(0,0,0) rotate(-9deg);
    transform:translate3d(0,0,0) rotate(-9deg)
  }
  section:nth-of-type(2n) .c:hover{
    -webkit-transform:translate3d(0,0,0) rotate(9deg);
    transform:translate3d(0,0,0) rotate(9deg)
  }
  section h2>a{
    display:block;
    position: absolute;
    top: -webkit-calc(50vh + 1em);
    top: calc(50vh + 1em);
    left: -webkit-calc(32px + (.25vh + .25vw + .125vmin));
    left: calc(32px + (.25vh + .25vw + .125vmin));
    font-style: italic;
    line-height: 2;
    padding-top:1ex;
    letter-spacing: 4px;
    font-size: 16px;
    opacity:.9;
    -webkit-transition:.2s cubic-bezier(.4,0,.2,1) opacity;
    transition:.2s cubic-bezier(.4,0,.2,1) opacity;
    -webkit-pointer-events: auto;
    pointer-events: auto;
  }
  section:nth-of-type(2n) h2>a{
    left:auto;
    right:-webkit-calc(32px + (.5vh + .5vw + .25vmin));
    right:calc(32px + (.5vh + .5vw + .25vmin));
  }
  section h2>a:hover{
    opacity:1;
  }
}
.container-i,.container-f{
  transform:none;
  right:0;
  left:0;
}
.ff{display:none}
 [type="submit"]{display:none;}
.i,.f{
  position: absolute;
  top: 32px;
  left: 0;
  bottom: 16px;
  right: 0;
  padding: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.i{
  padding:16px;
  background: #fff;
  color: #07071c;
}
.f{
  left:16px;
  right:16px;
  padding:16px;
  color: #fff;
  background: #07071c;
}
.ff:last-child {
  display:block;
  position:absolute;
  bottom:16px;
  left:16px;
  right:16px;
  padding-bottom: 0
}

@media screen and (min-width:768px){
  .container-i,.container-f{
    left:auto;
    right:48px;
    padding:32px;
  }
  .ff{
    display:block;
    position:relative;
    padding: 18px 0;
    min-height: 64px;
    text-align: left;
  }
  .i,.f{
    padding:32px;
    right:0;
  }
  [type="submit"]{display:inline-block}
  label{
    font-size:14px;
    top: 6px;
    left: 0;
    right: 0;
    -webkit-transform: translateY(3ex);
    transform: translateY(3ex);
    color: rgba(255,255,255,.8);
    white-space: nowrap;
    -webkit-transition: .2s cubic-bezier(.4,1,.2,1) -webkit-transform;
    transition: .2s cubic-bezier(.4,1,.2,1) transform
  }
  label,
  label>span,
  label:after{
    position: absolute;
    -webkit-pointer-events: none;
    pointer-events: none;
    z-index: 1
  }
  label>span{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s cubic-bezier(.4,1,.2,1) -webkit-transform;
    transition: .2s cubic-bezier(.4,1,.2,1) transform
  }
  input,
  textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    color:#fff;
    border-bottom: 1px solid rgba(255,255,255,.8);
    -webkit-transition: .2s cubic-bezier(.4,1,.2,1) border-color;
    transition: .2s cubic-bezier(.4,1,.2,1) border-color;
    padding: 4px 0;
  }
  input:valid,
  textarea:valid,
  input:active,
  input:focus,
  textarea:active,
  textarea:focus{
    border-color: #fff;
  }
  input:focus:valid,
  textarea:focus:valid,
  input._blur:valid,
  textarea._blur:valid{
    border-color: #03a9f4
  }
  input:focus:invalid,
  textarea:focus:invalid,
  input._blur:invalid,
  textarea._blur:invalid{
    border-color: #f44336
  }
  [disabled]~label,
  [disabled]+label {
    color: rgba(255,255,255,.8)
  }
  input._blur~label,
  input:active~label,
  input:focus~label,
  input:valid~label,
  textarea._blur~label,
  textarea:active~label,
  textarea:focus~label,
  textarea:valid~label{
    color: #fff;
    font-weight:700;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  input._blur~label>span,
  input:active~label>span,
  input:focus~label>span,
  input:valid~label>span,
  textarea._blur~label>span,
  textarea:active~label>span,
  textarea:focus~label>span,
  textarea:valid~label>span{
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    -webkit-transform: scale(.8);
    transform: scale(.8)
  }

  label:after {
    content: '';
    display: block;
    top: 14px;
    right: 0;
    opacity: 0;
    font-size: 13px;
    text-transform:uppercase;
    -webkit-border-radius:2px;
    border-radius:2px;
    color: #07071c;
    visibility: hidden;
    padding: 4px 8px;
    -webkit-transition: .2s cubic-bezier(.4,1,.2,1) opacity,.1s cubic-bezier(.4,1,.2,1) visibility;
    transition: .2s cubic-bezier(.4,1,.2,1) opacity,.1s cubic-bezier(.4,1,.2,1) visibility
  }

  input._blur~label:after,
  input:focus~label:after,
  input:valid~label:after,
  textarea._blur~label:after,
  textarea:focus~label:after,
  textarea:valid~label:after{
    opacity: 1;
    visibility: visible
  }

  button {
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    background:rgba(3,169,244,.8);
    color: #07071C;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding: 8px 16px;
    font-size: 1.3rem;
    font-weight: 700;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.4;
    -webkit-transition: .2s cubic-bezier(.4,1,.2,1) background;
    transition: .2s cubic-bezier(.4,1,.2,1) background
  }

  button:active,
  button:focus,
  button:hover {
    background-color: #03a9f4;
  }

  button[disabled] {
    opacity: .5;
    color: #07071C;
    cursor: auto
  }

  input:valid~label:after,
  textarea:valid~label:after{
    content: '\2713\0020\0020 Okay!';
    background: #03a9f4
  }

  input:invalid~label:after,
  textarea:invalid~label:after{
    content: '\2727\0020 Required';
    background: #f44336
  }
  .ff:last-child {
    left:32px;
    right:32px;
  }
}

.sms {
  float: right;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color:#ffc107;
  opacity:.8;
  -webkit-transition:.2s cubic-bezier(.4,0,.2,1) opacity;
  transition:.2s cubic-bezier(.4,0,.2,1) opacity;
}
.sms:hover,.sms:hover:before{
  opacity:1;
}
.sms:before {
  content: '';
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat
}
.sms:before {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23ffc107%22%20d%3D%22M45%2C1H3C1.895%2C1%2C1%2C1.895%2C1%2C3v11c0%2C1.105%2C0.895%2C2%2C2%2C2h15v-6c0-0.385%2C0.221-0.734%2C0.566-0.901%20c0.345-0.167%2C0.758-0.12%2C1.059%2C0.12l10%2C8C29.862%2C17.409%2C30%2C17.696%2C30%2C18s-0.138%2C0.591-0.375%2C0.781l-10%2C8%20C19.444%2C26.926%2C19.223%2C27%2C19%2C27c-0.147%2C0-0.295-0.032-0.434-0.099C18.221%2C26.734%2C18%2C26.385%2C18%2C26v-6H3c-1.105%2C0-2%2C0.895-2%2C2v11%20c0%2C1.105%2C0.895%2C2%2C2%2C2h8v9c0%2C0.375%2C0.209%2C0.718%2C0.542%2C0.89c0.325%2C0.167%2C0.729%2C0.146%2C1.039-0.076L26.32%2C35H45c1.105%2C0%2C2-0.895%2C2-2V3%20C47%2C1.895%2C46.105%2C1%2C45%2C1z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E)
}

article h3{
  font-weight:700;
  font-size:16px;
  text-transform:uppercase;
  margin-bottom:1ex;
}
legend{
  margin-bottom:1ex;
}
article p{
  position:absolute;
  bottom:16px;
  right:16px;
  left:16px;
  text-align:right;
  font-size:14px;
}
h1{
  margin-bottom:2ex;
  font-size:16px;
}
.i p{
  position:static;
  line-height:1.5;
  margin-bottom:2ex;
  font-size:14px;
  text-align:left;
}
@media(min-width:768px){
  h1,.i p{
    font-size:16px;
    font-size:-webkit-calc(.7vw + .7vh + .4vmin);
    font-size:calc(.7vw + .7vh + .4vmin);
  }
}
@media(min-width:768px) and (min-height:700px){
  h1,.i p{
    font-size:-webkit-calc(.8vw + .8vh + .4vmin);
    font-size:calc(.8vw + .8vh + .4vmin);
  }
}
.cursor{color:#2196f3}
@-webkit-keyframes onoff{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@keyframes onoff{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
@supports (-webkit-animation-name:flicker){.cursor{-webkit-animation:onoff .9s cubic-bezier(.4,0,.2,1) infinite}}
@supports (animation-name:flicker){.cursor{animation:onoff .9s cubic-bezier(.4,0,.2,1) infinite}}
